body{
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100%;
    padding-top: 15px;
}
.header_col_left{
    float: left;
    width: 50%;
}
.header_col_right{
    width: 40%;
    float: right;
    text-align: right;
}
.header_col_left a{
    padding-top: 20px;
    padding-left: 15px;
}
.btn{
    padding: 3 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: aliceblue;
}
.bt:hover{
    background-color: antiquewhite;   
}
.header_col_right ul{
    list-style-type: none;
    margin-top: 20px;
}
.header_col_right ul li{
    display: inline-block;

}
.clear{
    clear: both;
}
#menu{
    list-style-type: none;
    background-color: #6e696b;
    border:1px solid #333;
    line-height: 40px;
    padding-left: 20px;
}
#menu li{
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding-left: 10px;
}
#menu li a{
    color: white;
}
.body{
    width: 100%;
    margin-top: 40px;
}
.body_col_left{
    width: 73%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.body_col_right{
    width: 23%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
}
.content{
    width: 100%;
    margin-top: 10px;
}
.content h3{
    color:#AAA;
    font-size: 20px;
    width: 100%;
    border-bottom: 2px solid #AAA ;
    padding-bottom: 5px;
}
.img_car{
    float: left;
    padding: 10px;
    width: 30%;
}
.content_car{
    float: left;
    width: 70%;
    padding: 10px;
}
.list_img{
    width: 100%;
    border: 2px solid #AAA;
    padding:10px;
}
.list_img img{
    width: 19%;
}
.news{
    list-style-type: none;
}
.news li{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #CCC;
}
#last_new{
    border-bottom: none;
}