*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    display: flex;
}
.box_left,.box_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box_left{
    background-color: #7051EF;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    color:white;
}
.registration_btn{
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}
.registration_btn:hover{
    background-color: red;
}
h2{
    font-size: 2rem;
    padding-bottom: 10px;
}
.form_login{
    width: 70%;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    line-height : 40px;
    background-color: #DCE0E3;
    border: none;
    margin: 5px 0;
    padding:0 15px;
    border-radius: 10px;
}
input:focus{
    outline: none;
}
input[type="submit"]{
    background-color: #7051EF;
    color: white;
    margin-top:40px;
    border-radius: 10px;
}